/* 
Author info
========================

Table of contents
========================
1.common css
2.header section
3.logo & nav section
4.banner section
4.about section
5.our services section
6.our portfolio section
7.our team section
8.testimonial section
9.footer section
10.copyright section
*/
/*common css start*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
 }

:root{
    --hlt_color: #0872b9;
    --hlt_color_2: #353535;
    --hlt_color_3: #5bc5f4;
    --sec_color: #f1f1f1;
    --overlay_light: rgba(0,0,0,0.60);
    --white_color: #ffffff;
 }

body{
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}
 
ul{
    list-style-type: none;
}

.text_center{
    text-align: center;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* header section start */
#header{
    background-color: var(--hlt_color);
}
.header_info{
    width: 80%;
}
.header_info h4{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: var(--white_color);
    margin-top: 9px;
}
.icons{
    width: 20%;
    text-align: right;
}
.icons ul{
    display: flex;
}
.icons ul li i{
    color: var(--white_color);
    padding: 11px;
    transition: 0.5s;
}
.icons ul li i:hover{
    color: var(--hlt_color_2);
}
/* header section end */

/* logo & nav section start */
.logo{
    width: 60%;
}
.logo img{
    margin-top: 15px;
}
.menu{
    width: 40%;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: var(--hlt_color_2);
    font-size: 14px;
    padding: 7px;
    margin-top: 19px;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: var(--hlt_color);
}
/* logo & nav section end */

/* banner section start */
#banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 400px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}
#banner::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.60);
    top:0;
    left: 0;
    z-index: -1;
}
.banner_content{
    height: 255px;
    width: 440px;
    transform: translate(700px, 87px)
}
.banner_content h3{
    font-size: 30px;
    color: var(--white_color);
    margin-left: 300px;
}
.banner_content h1{
    font-size: 40px;
    font-weight: 700;
    color: var(--white_color);
    margin-left: 142px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.banner_content p{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: var(--white_color);
    text-align: right;
    line-height: 25px;
    margin-bottom: 30px;
}
.banner_content a{
    font-size: 16px;
    color: var(--white_color);
    background-color: var(--hlt_color);
    font-weight: 600;
    border: 1px solid transparent;
    padding: 8px 27px;
    text-decoration: none;
    transition: 0.5s;
    margin-left: 180px;
}
#banner .banner_content a:last-child{
    margin-left: 30px;
    background-color: transparent;
    border: 1px solid var(--white_color);
    transition: 0.5s;
}
#banner .banner_content a:hover{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid ;
}
#banner .banner_content a:last-child:hover{
    background-color: var(--hlt_color);
    border: 1px solid transparent;
}
/* banner section end */

/* about section start */
#about{
    margin-top: 55px;
}
.sec_info{
    margin-left: 500px;
}
.sec_info h3{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.sec_info img{
    margin-bottom: 18px;
}
.about_sec{
    margin-top: 38px;
    display: flex;
}
.about_sec img{
    width: 40%;
}
.about_sec p{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    width: 60%;
    line-height: 2;
    margin-top: 45px;
    margin-left: 40px;
}
/* about section end */

/* our services section start */
#service .sec_info{
    margin-top: 65px;
    margin-bottom: 30px;
}
.service{
    width: 1170px;
    display: flex;
}
.service_sec{
    width: 33%;
}
.service_sec img{
    margin-left: 110px;
    margin-bottom: -55px;
    border: 1px solid #dedede;
    border-radius: 50%;
}
.service_sec_info{
    height: 165px;
    width: 300px;
    background-color: var(--sec_color);
    text-align: center;
}
.service_sec_info h4{
    padding: 55px 0px 15px;
}
/* our services section end */

/* our portfolio section start */
#portfolio .sec_info{
    margin: 50px 500px 30px;
}
.portfolio{
    width: 25%;
}
.portfolio_sec{
    position: relative;
}
.portfolio_sec img{
    margin-bottom: 20px;
}
.portfolio_sec_overlay{
    position: absolute;
    background-color: var(--overlay_light);
    top: 0px;
    left: 0px;
    right: 73px;
    bottom: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.portfolio_sec_overlay a{
    color: var(--white_color);
    background-color: transparent;
    border: 10px solid transparent;
    border-radius: 50%;
    margin-left: 40%;
    transition: 0.5s;
}
.portfolio_sec_overlay i{
    font-size: 25px;
    color: var(--white_color);
    margin-top: 55%;
}
.portfolio_sec:hover .portfolio_sec_overlay{
    opacity: 1;
    visibility: visible;
}
.portfolio_sec:hover .portfolio_sec_overlay a:hover{
    background-color: var(--hlt_color_3);
}

/* our portfolio section end */

/* our team section start */
#team{
    margin-top: 40px;
}
.team_sec_images .team_img{
    width: 25%;   
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}
.team_sec_images .team_img i{
    color: var(--hlt_color);
}
.team_sec_images .team_img .team_img_overlay{
    position: absolute;
    background-color: var(--overlay_light);
    top: 0;
    left: 175px;
    bottom: 0;
    text-align: center;
    height: 270px;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.5s;
}
.team_sec_images .team_img .team_img_overlay i {
    display: block;
    padding-top: 10px;
    height: 40px;
    width: 40px;
    margin: 20px;
    color: var(--white_color);
    border: 1px solid white;
    border-radius: 50%;
    transition: all linear 0.5s;
}
.team_sec_images .team_img:hover .team_img_overlay{
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.team_sec_images .team_img .team_img_overlay i:hover{
    background-color: var(--hlt_color_3);
    border-color: transparent;
}
.team_img h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--hlt_color_2);
    margin: 0 85px;
    transition: 0.5s;
}
.team_img h5{
    font-size: 14px;
    color: #555555;
    margin: 0 85px;
}
.team_img h4:hover{
    color: var(--hlt_color_3);
}
/* our team section end */

/* testimonial section start */
#testimonial{
    margin-top: 60px;
}
#testimonial .sec_info{
    margin-bottom: 10px;
}
.testimonial_sec{
    width: 48%;
    margin-right: 20px;
    text-align: center;
}
.t_sec_info{
    background-color: var(--sec_color);
    margin-top: 20px;
}
.t_sec_info h2{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 5px;
    color: var(--hlt_color_2);
}
.t_sec_info i{
    font-size: 13px;
}
.t_sec_info span{
    transition: 0.5s;
}
.t_sec_info span:hover{
    color: var(--hlt_color_3);
}
.t_sec_info h4{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #555555;
}
.t_sec_info p{
    font-size: 13px;
    color: #555555;
    line-height: 2;
}
/* testimonial section end *
/
/* footer section start */
#footer{
    margin-top: 60px;
    background-color: var(--hlt_color_2);
}
.footer_info{
    width: 20%;
    padding: 50px 0px;
}
.footer_info p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #dddddd;
    margin-top: 20px;
    line-height: 2;
}
.contact{
    width: 24%;
    padding: 60px 0px;
    margin-left: 30px;
}
.contact h3{
    font-size: 16px;
    font-weight: 500;
    color: var(--white_color);
    margin-bottom: 30px;
}
.contact ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: var(--white_color);
    transition: 0.5s;
}
.contact ul li a:hover{
    color: var(--hlt_color_3);
}
.contact ul li a:last-child{
    margin-left: 40px;
}
.contact ul li i{
    color: var(--white_color);
    background-color: var(--hlt_color_3);
    border: 10px solid transparent;
    border-radius: 50%;
}
.links{
    width: 23%;
    padding: 55px 0px;
    margin-left: 20px;
}
.links h3{
    font-size: 16px;
    font-weight: 500;
    color: var(--white_color);
    margin-bottom: 25px;
}
.more_links{
    margin-left: 120px;
    margin-top: -170px;
}
.links ul li a{
    display: block;
    color: var(--white_color);
    padding-top: 10px;
    transition: 0.5s;
}
.links ul li a:hover{
    color: var(--hlt_color_3);
}
.photos{
    width: 25%;
}
.photos h3{
    font-size: 16px;
    font-weight: 500;
    color: var(--white_color);
    margin: 50px 0px 25px;
}
.photos img{
    margin-top: 6px;
    margin-right: 5px;
}
/* footer section end */
/* copyright section start */
#copyright{
    background-color: #555555;
    padding: 10px 0px;
}
#copyright p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #dddddd;
    padding-right: 5px;
    padding-top: 7px;
    margin: 0 auto;
}
#copyright a{
    font-size: 14px;
    font-weight: 500;
    color: var(--hlt_color_3);
    padding-top: 8px;
}
/* copyright section end */
